.about{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #131f0d ;
}

.about-me, .about-xp{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.about-me-content{
    display:flex;
    flex-direction: row;
}

.about-me-content > * {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 250px;
    height: 300px;
    background-color: aliceblue;
}
.heading{
    color: #d9e7cb;
    width: 80%;
    display: flex;
    font-weight: 800;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
      /*Glass Effect*/
  /*1. The alpha value controls the transparency*/
  background: rgba(255, 255, 255, 0.2);

  /*2. Adding the shadow*/
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );

  /*3. Adding our borders*/
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

}