.navbar {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem;
    font-size: 1.2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: myanimation 10s infinite;
    -webkit-animation: myanimation 10s infinite;
}
@media only screen and (min-width: 800px) {
    .navbar-items{
    display: flex;
    align-items: center;
    height: 80px;
    list-style: none;
    padding: 0 24px;
    text-decoration: none;
 }
 .navbar-items-logo{
    margin-bottom: 2rem;
}
}

@media only screen and (max-width: 800px){
    .navbar-items{
        visibility: hidden;
    }
    .navbar-items-logo{
        margin-bottom: 13rem;
    }
}


.navbar-items-logo{
    color: #fff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left:  1rem;
}

.navbar-items-links{

    color: aliceblue;
    padding: 0.5rem 1rem;
}

.navbar-items-links:hover{
    background-color: skyblue;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

@keyframes myanimation{
    0% {background-color: #002021;}
    25%{background-color:#131f0d;}
    50%{background-color:#acc0df;}
    75% {background-color: #bcbcff;}
    100% {background-color: #002021;}
}